In [1]:
import pandas as pd

In [5]:
pd.read_csv('drinks.csv')

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,NaN,NaN,NaN,NaN
1,Albania,89.0,132.0,54.0,4.9
2,Algeria,25.0,NaN,14.0,0.7
3,Andorra,245.0,138.0,312.0,12.4
4,Angola,217.0,57.0,45.0,5.9
...,...,...,...,...,...
188,Venezuela,333.0,1.0,3.0,7.7
189,Vietnam,111.0,2.0,1.0,2.0
190,Yemen,6.0,NaN,NaN,0.1
191,Zambia,32.0,19.0,4.0,2.5
192,Zimbabwe,64.0,18.0,4.0,4.7

In [6]:
pd.read_csv('https://andybek.com/pandas-drinks')

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,NaN,NaN,NaN,NaN
1,Albania,89.0,132.0,54.0,4.9
2,Algeria,25.0,NaN,14.0,0.7
3,Andorra,245.0,138.0,312.0,12.4
4,Angola,217.0,57.0,45.0,5.9
...,...,...,...,...,...
188,Venezuela,333.0,1.0,3.0,7.7
189,Vietnam,111.0,2.0,1.0,2.0
190,Yemen,6.0,NaN,NaN,0.1
191,Zambia,32.0,19.0,4.0,2.5
192,Zimbabwe,64.0,18.0,4.0,4.7

In [7]:
pd.read_csv('https://andybek.com/pandas-drinks', usecols=['country', 'wine_servings'])

         country  wine_servings
0    Afghanistan            NaN
1        Albania           54.0
2        Algeria           14.0
3        Andorra          312.0
4         Angola           45.0
..           ...            ...
188    Venezuela            3.0
189      Vietnam            1.0
190        Yemen            NaN
191       Zambia            4.0
192     Zimbabwe            4.0

[193 rows x 2 columns]

In [22]:
alcohol = pd.read_csv('https://andybek.com/pandas-drinks', usecols=['country', 'wine_servings'], index_col='country', squeeze=True)

In [23]:
alcohol.index

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua & Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria',
       ...
       'Tanzania', 'USA', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela',
       'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='country', length=193)

In [24]:
alcohol.shape

(193,)

In [27]:
alcohol.hasnans

True

In [39]:
alcohol.loc[alcohol.isnull()].index

Index(['Afghanistan', 'Bangladesh', 'Bhutan', 'Burundi', 'North Korea',
       'Eritrea', 'Ethiopia', 'India', 'Indonesia', 'Iran', 'Iraq', 'Kuwait',
       'Lesotho', 'Libya', 'Malaysia', 'Maldives', 'Marshall Islands',
       'Mauritania', 'Monaco', 'Myanmar', 'Nepal', 'Pakistan', 'Rwanda',
       'San Marino', 'Saudi Arabia', 'Somalia', 'Sri Lanka', 'Sudan',
       'Tajikistan', 'Uganda', 'Yemen'],
      dtype='object', name='country')

In [40]:
alcohol

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Name: wine_servings, Length: 193, dtype: float64

In [43]:
wine_servings = alcohol.loc[alcohol.notna()]

In [49]:
wine_servings.sum()

8221.0

In [51]:
wine_servings.loc[wine_servings < 100].sum()

2416.0

In [53]:
wine_servings.mean()

50.74691358024691

In [54]:
wine_servings.median()

11.5

In [56]:
wine_servings.max()

339.0

In [58]:
wine_servings.std()

76.13491716376173

In [59]:
wine_servings.var()

5796.52561153286

In [60]:
wine_servings.describe()

count    162.000000
mean      50.746914
std       76.134917
min        1.000000
25%        3.000000
50%       11.500000
75%       61.250000
max      339.000000
Name: wine_servings, dtype: float64

In [61]:
wine_servings.mode()

0    1.0
dtype: float64

In [64]:
wine_servings.loc[wine_servings == 1].count()

28

In [65]:
wine_servings.value_counts()

1.0      28
2.0      10
7.0       9
8.0       7
5.0       6
         ..
185.0     1
218.0     1
84.0      1
149.0     1
54.0      1
Name: wine_servings, Length: 71, dtype: int64

In [68]:
wine_servings.idxmax()

'Portugal'

In [73]:
type(wine_servings.sort_values(ascending=False))

pandas.core.series.Series

In [75]:
wine_servings.nsmallest(10)

country
Brunei                      1.0
Cambodia                    1.0
Canada                      1.0
Central African Republic    1.0
Chad                        1.0
Comoros                     1.0
DR Congo                    1.0
Egypt                       1.0
Fiji                        1.0
Gambia                      1.0
Name: wine_servings, dtype: float64

In [76]:
wine_servings.sort_index()

country
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
Antigua & Barbuda     45.0
                     ...
Vanuatu               11.0
Venezuela              3.0
Vietnam                1.0
Zambia                 4.0
Zimbabwe               4.0
Name: wine_servings, Length: 162, dtype: float64

In [77]:
fifty_plus = alcohol[alcohol > 50]

In [82]:
fifty_plus_smallest = fifty_plus.nsmallest(20)

In [84]:
fifty_plus_smallest.describe()

count     20.000000
mean      74.250000
std       19.072921
min       51.000000
25%       58.250000
50%       73.500000
75%       84.500000
max      113.000000
Name: wine_servings, dtype: float64

In [85]:
s1 = pd.Series([1, 2, 3, 4], index=['A', 'B', 'C', 'D'])

In [87]:
s2 = pd.Series({'A': 2})

In [95]:
s1.multiply(s2, fill_value=1)

A    2.0
B    2.0
C    3.0
D    4.0
dtype: float64

In [96]:
s1.cumsum()

A     1
B     3
C     6
D    10
dtype: int64

In [97]:
wine_servings.diff().head()

country
Albania                NaN
Algeria              -40.0
Andorra              298.0
Angola              -267.0
Antigua & Barbuda      0.0
Name: wine_servings, dtype: float64

In [100]:
wine_servings.filter(regex='^V')

country
Kazakhstan      12.0
Kyrgyzstan       6.0
Turkmenistan    32.0
Uzbekistan       8.0
Name: wine_servings, dtype: float64

In [99]:
wine_servings.filter(like='stan')

country
Kazakhstan      12.0
Kyrgyzstan       6.0
Turkmenistan    32.0
Uzbekistan       8.0
Name: wine_servings, dtype: float64

In [105]:
wine_servings.loc[wine_servings > 200]

country
Andorra              312.0
Argentina            221.0
Australia            212.0
Belgium              212.0
Croatia              254.0
Denmark              278.0
Equatorial Guinea    233.0
Greece               218.0
Italy                237.0
Luxembourg           271.0
Portugal             339.0
Slovenia             276.0
Name: wine_servings, dtype: float64

In [104]:
wine_servings.where(lambda x: x>200).dropna()

country
Andorra              312.0
Argentina            221.0
Australia            212.0
Belgium              212.0
Croatia              254.0
Denmark              278.0
Equatorial Guinea    233.0
Greece               218.0
Italy                237.0
Luxembourg           271.0
Portugal             339.0
Slovenia             276.0
Name: wine_servings, dtype: float64

In [106]:
wine_servings.mask(lambda x: x<=200).dropna()

country
Andorra              312.0
Argentina            221.0
Australia            212.0
Belgium              212.0
Croatia              254.0
Denmark              278.0
Equatorial Guinea    233.0
Greece               218.0
Italy                237.0
Luxembourg           271.0
Portugal             339.0
Slovenia             276.0
Name: wine_servings, dtype: float64

In [107]:
s1 = pd.Series([1, 2, 5, 3, 4], index = ['A', 'B', 'C', 'D', 'E'])

In [108]:
s1.update(pd.Series(data=[10, 20], index=['A', 'B']))

In [109]:
s1

A    10
B    20
C     5
D     3
E     4
dtype: int64

In [110]:
s1.replace(10, 11)

A    11
B    20
C     5
D     3
E     4
dtype: int64

In [111]:
s1

A    10
B    20
C     5
D     3
E     4
dtype: int64

In [113]:
s1.replace(10, 11, inplace=False)

A    11
B    20
C     5
D     3
E     4
dtype: int64

In [116]:
s1.map(lambda x: x*x)

A    100
B    400
C     25
D      9
E     16
dtype: int64

In [117]:
s1

A    10
B    20
C     5
D     3
E     4
dtype: int64

In [118]:
import numpy as np

In [119]:
s1 = pd.Series([1, 2, np.nan, 3, 4], index = ['A', 'B', 'C', 'D', 'E'])

In [120]:
s1

A    1.0
B    2.0
C    NaN
D    3.0
E    4.0
dtype: float64

In [121]:
s1.mean()

2.5