In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.Timestamp('4/7/1776') # Month/Day/Year

Timestamp('1776-04-07 00:00:00')

In [5]:
pdts = pd.to_datetime('4/7/1776', dayfirst=True)

In [6]:
pdts.day_name()

'Thursday'

In [7]:
pdts.days_in_month

31

In [8]:
pdts.quarter

3

In [14]:
brent = pd.read_csv('BrentOilPrices.csv', index_col='Date', parse_dates=True)

In [13]:
brent.head()

           Price
Date
04-Jan-00  23.95
05-Jan-00  23.72
06-Jan-00  23.55
07-Jan-00  23.35
10-Jan-00  22.77

In [15]:
brent.loc['2019-01']

            Price
Date
2019-01-02  54.06
2019-01-03  53.23
2019-01-04  55.64
2019-01-07  57.10
2019-01-08  56.91
2019-01-09  59.46
2019-01-10  60.47
2019-01-11  59.24
2019-01-14  58.80
2019-01-15  58.65
2019-01-16  59.81
2019-01-17  59.85
2019-01-18  62.04
2019-01-21  62.18
2019-01-22  60.90
2019-01-23  61.05
2019-01-24  61.09
2019-01-25  61.49
2019-01-28  59.71
2019-01-29  60.98
2019-01-30  61.89
2019-01-31  62.46

In [16]:
brent.loc['2019-01': '2019-02']

            Price
Date
2019-01-02  54.06
2019-01-03  53.23
2019-01-04  55.64
2019-01-07  57.10
2019-01-08  56.91
2019-01-09  59.46
2019-01-10  60.47
2019-01-11  59.24
2019-01-14  58.80
2019-01-15  58.65
2019-01-16  59.81
2019-01-17  59.85
2019-01-18  62.04
2019-01-21  62.18
2019-01-22  60.90
2019-01-23  61.05
2019-01-24  61.09
2019-01-25  61.49
2019-01-28  59.71
2019-01-29  60.98
2019-01-30  61.89
2019-01-31  62.46
2019-02-01  61.86
2019-02-04  62.26
2019-02-05  61.67
2019-02-06  62.22
2019-02-07  61.01
2019-02-08  61.37
2019-02-11  61.30
2019-02-12  62.58
2019-02-13  63.27
2019-02-14  64.00
2019-02-15  65.65
2019-02-18  66.41
2019-02-19  65.86
2019-02-20  66.82
2019-02-21  66.91
2019-02-22  66.91
2019-02-25  64.02
2019-02-26  64.51
2019-02-27  65.55
2019-02-28  65.03

In [17]:
brent.loc['2019-01': '2019-02-15']

            Price
Date
2019-01-02  54.06
2019-01-03  53.23
2019-01-04  55.64
2019-01-07  57.10
2019-01-08  56.91
2019-01-09  59.46
2019-01-10  60.47
2019-01-11  59.24
2019-01-14  58.80
2019-01-15  58.65
2019-01-16  59.81
2019-01-17  59.85
2019-01-18  62.04
2019-01-21  62.18
2019-01-22  60.90
2019-01-23  61.05
2019-01-24  61.09
2019-01-25  61.49
2019-01-28  59.71
2019-01-29  60.98
2019-01-30  61.89
2019-01-31  62.46
2019-02-01  61.86
2019-02-04  62.26
2019-02-05  61.67
2019-02-06  62.22
2019-02-07  61.01
2019-02-08  61.37
2019-02-11  61.30
2019-02-12  62.58
2019-02-13  63.27
2019-02-14  64.00
2019-02-15  65.65