In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
data = {'Country': ['Belgium', 'India', 'Brazil'], 'Capital': ['Brussels', 'New Delhi', 'Brasilia'], 'Population': [11190846, 1303171035, 207847528] }

# Series

In [9]:
s1 = Series(data['Country'])

In [10]:
s1

0    Belgium
1      India
2     Brazil
dtype: object

In [11]:
s1.values

array(['Belgium', 'India', 'Brazil'], dtype=object)